<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="d-flex justify-content-between">
                <h1>
                    <%= title %>
                </h1>
            </div>

            <div class="container-fluid min-height">
                <form class="row g-3 needs-validation nodes" action="/capex/addCapex" method="POST" novalidate>
                    <div class="col-md-3">
                        <label for="tituloProyecto" class="form-label">Título proyecto</label>
                        <input type="text" class="form-control" id="tituloProyecto" name="tituloProyecto" placeholder="DC TelcoCloud" required>
                        <div class="invalid-feedback">
                            Por favor ingresa el título del proyecto.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="areaSolicitante" class="form-label">Área Solicitante</label>
                        <select class="form-select" id="areaSolicitante" name="areaSolicitante" required>
                            <option selected disabled value="">Elija...</option>
                            <option value="Plataformas CS/IMS Core">Plataformas CS/IMS Core - Edgardo Gross</option>
                            <option value="Plataformas VA y SDM">Plataformas VA y SDM - Laura Rodriguez</option>
                            <option value="Ingeniería Microondas/Transmisión inalambrica">Ingeniería Microondas/Transmisión inalambrica - Jose Ignacio Celada</option>
                            <option value="Planificación Infreaestructura E&F">Planificación Infreaestructura E&F - Marcos Humphreys</option>
                            <option value="Ingeniería Transmisión">Ingeniería Transmisión - Esteban Lazcano</option>
                            <option value="Plataformas Packet Core">Plataformas Packet Core - Marcelo Lopez</option>
                            <option value="Optimización">Optimización - Gonzalo Bacelli</option>
                            <option value="Soporte Corp. Infraestruct. de Red">Soporte Corp. Infraestruct. de Red - Gonzalo Juncos</option>
                            <option value="Arquitectura de Red">Arquitectura de Red - Javier Navarro</option>
                            <option value="Automatización y Estrategia">Automatización y Estrategia - German Perez Trozzi</option>
                            <option value="Networking y Seg Logica">Networking y Seg Logica - Santiago Bruny</option>
                            <option value="TV y Proyectos Especiales">TV y Proyectos Especiales - Claudio Duro</option>
                            <option value="Ingenieria Agregación  IP">Ingenieria Agregación  IP - </option>
                            <option value="Planificación técnica">Planificación técnica - Daniel Frega</option>
                            <option value="Ingeniería de Proyectos">Ingeniería de Proyectos - Pablo Llorenz</option>
                            <option value="Consultoría y Diseño">Consultoría y Diseño - Renzo Folini</option>
                            <option value="Ingenieria Acceso Movil">Ingenieria Acceso Movil - Jorge Brunello</option>
                            <option value="Seguridad Fisica y Electrónica">Seguridad Fisica y Electrónica - Cristian Juarez</option>
                            </select>
                        <div class="invalid-feedback">
                            Por favor ingresa el área a cargo de la solicitud.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="requerimiento" class="form-label">Tipo de Requerimiento</label>
                        <select class="form-select" id="requerimiento" name="requerimiento" required>
                            <option selected disabled value="">Elija...</option>
                            <option value="Ampliación">Ampliación</option>
                            <option value="Nueva plataforma">Nueva plataforma</option>
                            <option value="Sin necesidad">Sin necesidad</option>
                            </select>
                        <div class="invalid-feedback">
                            Por favor indique el tipo de necesidad.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="cellId" class="form-label">Cell ID</label>
                        <input type="text" class="form-control" id="cellId" name="cellId" placeholder="CO008" required>
                        <div class="invalid-feedback">
                            Por favor ingresa el cell id del nodo.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="fechaObjetivo" class="form-label">Fecha Objetivo</label>
                        <input type="date" class="form-control" id="fechaObjetivo" name="fechaObjetivo" required>
                        <div class="invalid-feedback">
                            Por favor ingresa la fecha objetivo de la necesidad.
                        </div>
                    </div>
                    <hr>
                    <div class="col-md-2">
                        <label for="redundancia" class="form-label">Tipo de conexión</label>
                        <select class="form-select" id="redundancia" name="redundancia" required>
                            <option selected disabled value="">Elija...</option>
                            <option value="Single Homed">Single Homed</option>
                            <option value="Dual Homed">Dual Homed</option>
                            </select>
                        <div class="invalid-feedback">
                            Por favor indique el tipo de conexión al BBIP.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="bandwidth" class="form-label">Ancho de banda total requerido</label>
                        <input type="text" class="form-control" id="bandwidth" name="bandwidth" placeholder="18Gb" required>
                        <div class="invalid-feedback">
                            Por favor ingrese el BW estimado a ser consumido por la plataforma.
                        </div>
                    </div>
                    <span class="ayuda">¿Te ayudo con el tipo de conexión?</span>
                    <div id='img' class="hidden" >
                        <img src="/images/Single_Dual_Home.png">
                    </div>
                    <hr>
                    <div class="col-md-2">
                        <label for="puertosElectricos" class="form-label">Puertos eléctricos</label>
                        <input type="number" class="form-control" id="puertosElectricos" name="puertosElectricos" placeholder="3" required>
                        <div class="invalid-feedback">
                            Por favor ingresa el total de puertos UTP.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="puertosOpticos" class="form-label">Puertos ópticos</label>
                        <input type="number" class="form-control" id="puertosOpticos" name="puertosOpticos" placeholder="5" required>
                        <div class="invalid-feedback">
                            Por favor ingresa el total de puertos ópticos.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="capacidadPuerto" class="form-label">Capacidad puertos ópticos</label>
                        <select class="form-select" id="capacidadPuerto" name="capacidadPuerto" required>
                            <option selected disabled value="">Elija...</option>
                            <option value="1Gb">1Gb</option>
                            <option value="10Gb">10Gb</option>
                            <option value="100Gb">100Gb</option>
                            </select>
                        <div class="invalid-feedback">
                            Por favor indique la capacidad de los puertos ópticos.
                        </div>
                    </div>
                    <p><strong>Comentarios:</strong> Indicar la cantidad total de puertos que debe conectar, si es seleccionado como tipo de conexión <em>"Dual Homed"</em> serán asignados la mitad de los puertos informados en cada uno de los PE.</p>
                    <span>Por favor deje cualquier aclaración pertinente:</span>
                    <textarea name="comentarios"></textarea>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Crear Requerimiento</button>
                    </div>
                </form>
            </div>
            <script async src="/javascripts/validationForm.js"></script>
            <script type="text/javascript">
                document.querySelector(".ayuda").onclick = function() {
                    document.querySelector("#img").classList.toggle("show")
                };
            </script>
            <%- include('./partials/footer') %>