<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="d-flex justify-content-between">
                <h1>
                    <%= title %>
                </h1>
            </div>

            <div class="container-fluid">
                <form class="row g-3 needs-validation" action="/nodes/add" method="POST" novalidate>
                    <div class="col-md-2">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Córdoba ECP" required>
                        <div class="invalid-feedback">
                            Por favor ingresa el nombre del Nodo.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="cellId" class="form-label">Cell ID</label>
                        <input type="text" class="form-control" id="cellId" name="cellId" placeholder="CO008" required>
                        <div class="invalid-feedback">
                            Por favor ingresa el cell id del nodo.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="province" class="form-label">Provincia</label>
                        <input type="text" class="form-control" id="province" name="province" placeholder="Córdoba" required>
                        <div class="invalid-feedback">
                            Por favor ingresa la provincia.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="country" class="form-label">País</label>
                        <input type="text" class="form-control" id="country" name="country" placeholder="Argentina" required>
                        <div class="invalid-feedback">
                            Por favor ingresa el país.
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label for="totalRooms" class="form-label">Naves</label>
                        <input type="text" class="form-control" id="totalRooms" name="totalRooms" required>
                        <div class="invalid-feedback">
                            Por favor ingresa el total de naves.
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Crear Equipo</button>
                    </div>
                </form>
            </div>
            <script async src="/javascripts/validationForm.js"></script>
            <%- include('./partials/footer') %>