<%- include('./partials/head') %>

    <body>
        <div class="d-flex align-items-center">
            <p class="text-center border fs-4 fw-bold">Se salvaron los cambios... Recuerde actualizar la página para recargar los mismos!</p>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn-lg btn-primary" onclick="closeWindow()">Cerrar</button>
        </div>
        <script type="text/javascript">
            function closeWindow() { //v2.0
                window.close();
            }
        </script>
    </body>