<%- include('./partials/head') %>

    <body>
        <div class="container-fluid">
            <form class="needs-validation myForm" action="/users" method="POST" novalidate>
                <div class="col-md">
                    <!--<label for="username" class="form-label">Legajo</label>-->
                    <input type="text" class="form-control input-lg" id="username" name="username" placeholder="cti12345" required>
                    <div class="invalid-feedback">
                        Por favor ingresa el nombre de usuario.
                    </div>
                </div>
                <div class="col-md">
                    <!--<label for="password" class="form-label">Password</label>-->
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    <div class="invalid-feedback">
                        Por favor ingresa la conraseña.
                    </div>
                </div>
                <p style="margin-top: .25rem;
                font-size: .575em;
                color: #dc3545;">
                    <%=error?error:''%>
                </p>
                <div class="col-12">
                    <button class="btn-lg btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>
        <script async src="/javascripts/validationForm.js"></script>
    </body>