<!-- Include Head -->
<%- include('./partials/head') %>

    <body>
        <!-- Header -->
        <%- include('./partials/header') %>
            <!-- /Header -->
            <main>
                <div class="myForm">
                    <div class="center-card">
                        <img src="/images/Something_wrong.jpg" alt="Algo salio mal" style="width: 80%;">
                        <div>
                            <p>
                                <%= error==undefined ?'':error %>
                            </p>
                            <a role="button" href="/" class="btn btn-primary">
                                <span>Volver al HOME!</span>
                            </a>
                        </div>
                    </div>
                </div>
            </main>