<%- include('../partials/head') %>

    <body>
        <div class="d-flex">
            <%- include('../partials/sidebar') %>
                <div class="container p-0">
                    <%- include('../partials/header') %>
                        <div class="d-flex justify-content-between ps-3">

                        </div>
                        <div class="container min-height">

                        </div>

                        <%- include('../partials/footer') %>
                </div>
        </div>